@charset "UTF-8";
/* CSS Document */
header {
	background-image: url("../bg-material/bg-material.svg");
}

.saiyo-title {
	padding: 100px 100px 50px 100px;
}

.saiyo-title h4 {
	padding: 0 0 30px 10px;
}

.saiyo-title p {
	padding: 0 0 30px 20px;
}

.saiyo-box1 {
	background-color: #EFEFEF;
	padding: 100px 0;
}

.saiyo-box1 h2 {
	color: #93BB00;
}

.saiyo-box1 h2,p {
	padding: 0 100px;
}

.saiyo-box1 p {
	padding-top: 20px;
}

.jinzai-image {
	text-align: center;
}

.jinzai-image img {
	margin: 100px 0px 30px 0;
	max-width: 70%;  /*画像のはみだしを防ぐ*/
    height: auto;  /*画像の縦横比を維持 */
}

.saiyo-box2 {
	padding: 100px 0;
}

.saiyo-box2 h2 {
	color: #93BB00;
}

.saiyo-box2 h2,p {
	padding: 0 100px;
}

.saiyo-box2 p {
	padding-top: 20px;
}

.shinsotu-image {
	text-align: center;
}

.shinsotu-image img {
	margin: 100px 0px 30px 0;
	max-width: 70%;  /*画像のはみだしを防ぐ*/
    height: auto;  /*画像の縦横比を維持 */
}